body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(80deg, rgb(51, 141, 141), rgb(78, 76, 226));
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 43px 2px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  border: solid 3px rgba(255, 255, 255, 0.9);
  overflow: hidden;
}

h1 {
  text-align: center;
}

#add-task-form {
  margin-top: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

#task-list {
  margin-top: 20px;
}

.task {
  display: grid;
  grid-template-columns: auto 1fr 70px 70px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  overflow-wrap: break-word; /* Zawijanie tekstu, gdy osiągnie koniec kontenera */
}

.completed {
  text-decoration: line-through;
  color: #999;
}
