body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

#add-task-form {
  margin-top: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Trzy kolumny, jedna dla każdego elementu w formularzu */
  gap: 10px; /* Odstęp między elementami */
}

#task-list {
  margin-top: 20px;
}

.task {
  display: grid;
  grid-template-columns: auto 1fr 70px 70px; /* Cztery kolumny, jedna dla każdego elementu zadania */
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.completed {
  text-decoration: line-through;
  color: #999;
}
